/GNN-RAG-main2/.idea/inspectionProfiles/profiles_settings.xml
/GNN-RAG-main2/.idea/.gitignore
/GNN-RAG-main2/.idea/GNN-RAG-main2.iml
/GNN-RAG-main2/.idea/misc.xml
/GNN-RAG-main2/.idea/modules.xml
/GNN-RAG-main2/.idea/vcs.xml
/GNN-RAG-main2/checkpoint/
/GNN-RAG-main2/gnn/data/
/GNN-RAG-main2/gnn/pretrained_lms/
/GNN-RAG-main2/gnn/sbert/
/GNN-RAG-main2/llm/datasets/
/GNN-RAG-main2/llm/results/
/GNN-RAG-main2/llm/save_models/
/GNN-RAG-main2/llm/wandb/
*.out
*.whl
*.run
env*_*.yml

*.md
*.png
.DS_Store

